---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import { Image } from "astro:assets";
import star from "../../assets/star.png";
export const getStaticPaths = () => {
  return [
    { params: { id: "face" } },
    { params: { id: "body" } },
    { params: { id: "waxing" } },
    { params: { id: "eyelash" } },
    { params: { id: "nail" } },
    { params: { id: "microblading" } },
  ];
};

interface ServiceInfoProps {
  id: string;
  name: string;
  bannerUrl: string;
  courses: Array<{
    courseCategory?: string;
    categoryLists: Array<{
      courseName: string;
      duration: number;
      price: number;
    }>;
  }>;
}

const { id } = Astro.params;
import serviceInfo from "../../data.json";
const detailInfo = serviceInfo.find((item) => item.id === id) as
  | ServiceInfoProps
  | undefined;
if (!detailInfo) {
  throw new Error(`Service with id ${id} not found`);
}
---

<ServiceLayout>
  <div
    class="max-w-1/2 w-full absolute top-1/2 left-1/2 transform -translate-[50%]"
  >
    <div class="text-center mb-8 flex items-baseline justify-center">
      <h2
        class="text-4xl md:text-6xl font-light text-primary mr-[10px] md:mr-[20px]"
      >
        Services
      </h2>
      <p class="text-2xl md:text-3xl text-secondary">課程服務</p>
      <Image
        src={star}
        alt="star"
        class="w-[25px] h-[25px] md:w-[29px] md:h-[29px] self-start"
      />
    </div>
    <Image
      src={detailInfo.bannerUrl}
      alt={detailInfo.id}
      width={500}
      height={200}
      loading="lazy"
      class="w-full h-[200px] object-cover absolute bottom-[-225px]"
    />
  </div>

  <div
    class="bg-custom-gradient text-primary p-[50px] max-w-1/2 w-full mx-auto"
  >
    <div class="text-center font-medium text-2xl mb-[30px]">
      {detailInfo.name}
    </div>
    <div class="w-full h-[1px] bg-[#6d4a2f] relative mx-auto">
      <div
        class="w-[30px] h-[11px] absolute bg-[#fff] top-1/2 left-1/2 -translate-[50%] transform bg-[url('../assets/diamond.png')] bg-no-repeat bg-center bg-contain"
      >
      </div>
    </div>
    {
      detailInfo.courses.map((item, index) => {
        return (
          <div
            class={`text-small py-[15px] border-b flex ${
              item.courseCategory ? "justify-between" : "justify-center"
            } items-center`}
          >
            {item.courseCategory && (
              <div
                class={`text-center ${detailInfo.id === "body" ? "max-w-1/4" : "max-w-1/5"}  w-full bg-[#6d4a2f] rounded-full text-white py-[12px] px-[15px] mr-[30px] whitespace-nowrap`}
              >
                {item.courseCategory}
              </div>
            )}

            <div class="w-4/5">
              {item.categoryLists.map((course, idx) => (
                <ul class="flex justify-between items-center my-[20px] transition-colors duration-300 group cursor-pointer">
                  <li
                    class={`text-[#6d4a2f] ${detailInfo.id === "face" ? "basis-7xs" : "basis-5xs"} before-diamond group-hover:text-[#c3a76c] transition-colors duration-300`}
                  >
                    {course.courseName}
                  </li>
                  <li class="text-black group-hover:text-[#c3a76c] transition-colors duration-300 text-center ">
                    {course.duration}分鐘
                  </li>
                  <li class="text-black group-hover:text-[#c3a76c] transition-colors duration-300">
                    ${course.price}
                  </li>
                  <span class="bg-[#c8c8c8] group-hover:bg-[#c3a76c] rounded-[5px] text-white py-[2px] px-[8px] transition-colors duration-300 flex-none">
                    詳細介紹
                  </span>
                </ul>
              ))}
            </div>
          </div>
        );
      })
    }
  </div>
</ServiceLayout>
