---
import ServiceLayout from "../../layouts/ServiceLayout.astro";
import { Image } from "astro:assets";
import star from "../../assets/star.png";
import CourseBtn from "../../components/CourseBtn.astro";
export const getStaticPaths = () => {
  return [
    { params: { id: "face" } },
    { params: { id: "body" } },
    { params: { id: "waxing" } },
    { params: { id: "eyelash" } },
    { params: { id: "nail" } },
    { params: { id: "microblading" } },
  ];
};

export interface ServiceInfoProps {
  id: string;
  name: string;
  bannerUrl: string;
  courses: Array<{
    courseCategory?: string;
    categoryLists: Array<{
      courseName: string;
      courseImageUrl?: string;
      duration: number;
      price: number;
      courseId?: string;
    }>;
  }>;
}

const { id } = Astro.params;
import serviceInfo from "../../../public/data.json";
import Popup from "../../components/Popup.tsx";
const detailInfo = serviceInfo.find((item) => item.id === id) as
  | ServiceInfoProps
  | undefined;
if (!detailInfo) {
  throw new Error(`Service with id ${id} not found`);
}

const textStyle =
  "text-black group-hover:text-[#c3a76c] transition-colors duration-300 text-center";
---

<ServiceLayout>
  <div
    class="bg-[url('../assets/service/banner.jpg')] bg-no-repeat bg-center bg-cover h-[300px] md:h-[750px] relative px-[30px] md:px-0"
  >
    <div
      class="md:max-w-1/2 w-full mx-auto absolute top-1/2 left-1/2 -translate-1/2 text-center mb-8 flex items-baseline justify-center"
    >
      <h2
        class="text-4xl md:text-6xl font-light text-primary mr-[10px] md:mr-[20px]"
      >
        Services
      </h2>
      <p class="text-2xl md:text-3xl text-secondary">課程服務</p>
      <Image
        src={star}
        alt="star"
        class="w-[25px] h-[25px] md:w-[29px] md:h-[29px] self-start"
      />
    </div>
    <Image
      src={detailInfo.bannerUrl}
      alt={detailInfo.id}
      width={500}
      height={200}
      loading="lazy"
      class="lg:max-w-3xl md:max-w-2xl max-w-4/5 w-full h-[90px] md:h-[200px] object-cover absolute bottom-0 left-1/2 -translate-x-1/2"
    />
  </div>
  <div
    id="list"
    class="bg-custom-gradient text-primary md:px-[40px] px-[30px] py-[20px] md:p-[50px] lg:max-w-3xl md:max-w-2xl w-full mx-auto mb-[30px] relative"
  >
    <div class="text-center font-medium text-2xl mb-[20px] md:mb-[30px]">
      {detailInfo.name}
    </div>

    <div class="w-full h-[1px] bg-[#6d4a2f] relative mx-auto">
      <div
        class="w-[30px] h-[11px] absolute top-1/2 left-1/2 -translate-1/2 bg-gradient-diamond"
      >
      </div>
    </div>

    {
      detailInfo.courses.map((item) => (
        <div
          id="service-list"
          class={`md:text-sm border-b flex flex-col md:flex-row ${item.courseCategory ? "justify-between" : "justify-center"} items-center`}
        >
          {item.courseCategory && (
            <div
              class={`my-[15px] text-center max-w-1/2 ${detailInfo.id === "body" ? "md:max-w-1/5 lg:max-w-1/6" : "md:max-w-1/6"} w-full bg-[#6d4a2f] rounded-full text-white py-[12px] px-[15px] md:mr-[30px] whitespace-nowrap `}
            >
              {item.courseCategory}
            </div>
          )}

          <div
            class={`w-full ${item.courseCategory ? "md:w-4/5" : "md:w-full"}`}
          >
            {item.categoryLists.map((course) => (
              <ul class="flex flex-col md:flex-row justify-between items-start md:items-center mt-[20px] mb-[20px] transition-colors duration-300 group cursor-pointer">
                <div class="md:hidden mb-[10px]">
                  <li
                    style={{
                      "--diamond-width": "12px",
                      "--diamond-height": "12px",
                      "--diamond-top": "4px",
                      "--diamond-left": "-15px",
                    }}
                    class={`text-[#6d4a2f] ${detailInfo.id === "face" ? "basis-7xs" : "basis-5xs"} before-diamond group-hover:text-[#c3a76c] transition-colors duration-300`}
                  >
                    {course.courseName}
                  </li>
                </div>

                <li
                  style={{
                    "--diamond-width": "12px",
                    "--diamond-height": "12px",
                    "--diamond-top": "4px",
                    "--diamond-left": "-15px",
                  }}
                  class={`hidden md:block text-[#6d4a2f] ${detailInfo.id === "face" ? "basis-7xs" : "basis-5xs"} before-diamond group-hover:text-[#c3a76c] transition-colors duration-300`}
                >
                  {course.courseName}
                </li>

                <div class="md:hidden flex items-center justify-between w-full">
                  <li class={textStyle}>{course.duration}分鐘</li>
                  <li class={textStyle}>${course.price}</li>
                  {(detailInfo.id === "face" || detailInfo.id === "body") && (
                    <button
                      onclick="showPopup(event)"
                      data-id={`${course.courseId}`}
                      class="more block mt-2 bg-[#c8c8c8] group-hover:bg-[#c3a76c] rounded-[5px] text-white py-[2px] px-[8px] transition-colors duration-300 flex-none text-center w-fit"
                    >
                      詳細介紹
                    </button>
                  )}
                </div>

                <li class={`hidden md:block ${textStyle}`}>
                  {course.duration}分鐘
                </li>
                <li class={`hidden md:block ${textStyle} font-bold`}>
                  ${course.price}
                </li>
                {(detailInfo.id === "face" || detailInfo.id === "body") && (
                  <button
                    data-id={`${course.courseId}`}
                    class="more md:block hidden mt-2 bg-[#c8c8c8] group-hover:bg-[#c3a76c] rounded-[5px] text-white py-[2px] px-[8px] transition-colors duration-300 flex-none text-center w-fit font-bold cursor-pointer"
                  >
                    詳細介紹
                  </button>
                )}
              </ul>
            ))}
          </div>
        </div>
      ))
    }
    <Popup client:only="react" />
  </div>
</ServiceLayout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".more").forEach((btn) => {
      btn.addEventListener("click", (e) => {
        e.preventDefault();
        const id = btn.getAttribute("data-id");
        if (id) {
          const url = new URL(window.location.href);
          url.searchParams.set("id", id);
          history.pushState({}, "", url);
          window.dispatchEvent(new PopStateEvent("popstate"));
        }
      });
    });

    updatePopupDisplay();
  });

  function updatePopupDisplay() {
    const params = new URLSearchParams(window.location.search);
    const id = params.get("id");

    const list = document.querySelectorAll("#service-list");
    const popup = document.getElementById("popup");

    if (id) {
      list!.forEach((el) => {
        if (el instanceof HTMLElement) {
          el.style.display = "none";
        }
      });
      popup!.classList.remove("hidden");
    } else {
      list!.forEach((el) => {
        if (el instanceof HTMLElement) {
          el.style.display = "flex";
        }
      });
      popup!.classList.add("hidden");
    }
  }

  window.addEventListener("popstate", updatePopupDisplay);
</script>
