---
import { Image } from "astro:assets";
import star from "../assets/star.png";

import service01 from "../assets/service/image01.jpg";
import service02 from "../assets/service/image02.jpg";
import service03 from "../assets/service/image03.jpg";
import service04 from "../assets/service/image04.jpg";
import service05 from "../assets/service/image05.jpg";
import service06 from "../assets/service/image06.jpg";

const serviceInfo = [
  { pic: service01, title: "臉部保養", id: "face" },
  { pic: service02, title: "身體保養", id: "body" },
  { pic: service03, title: "脫毛處理", id: "waxing" },
  { pic: service04, title: "美睫", id: "eyelash" },
  { pic: service05, title: "手足保養（美甲）", id: "nail" },
  { pic: service06, title: "紋繡", id: "microblading" },
];
---

<div class="text-primary" id="#service">
  <div>
    <div class="text-center my-8 flex items-baseline justify-center">
      <h2
        class="text-4xl md:text-6xl font-light text-primary mr-[10px] md:mr-[20px]"
      >
        Services
      </h2>
      <p class="text-2xl md:text-3xl text-secondary">服務項目</p>
      <Image
        src={star}
        alt="star"
        class="w-[25px] h-[25px] md:w-[29px] md:h-[29px] self-start"
      />
    </div>
    <ul class="grid grid-cols-2 md:grid-cols-3 gap-1">
      {
        serviceInfo.map((item, index) => {
          return (
            <li
              class="relative group cursor-pointer overflow-hidden"
              onclick="location.href=`/service/${item.id}`"
            >
              <img
                src={item.pic.src}
                alt={item.pic.src}
                class="w-full h-auto object-cover transition-transform duration-300 group-hover:scale-110"
              />
              <div class="absolute inset-0 bg-black opacity-0 group-hover:opacity-30 transition-opacity duration-300" />
              <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 text-center z-10">
                <div class="text-white text-base md:text-normal lg:text-2xl md:mb-8">
                  {item.title}
                </div>
                <a
                  href="#"
                  class="relative text-secondary md:text-lg text-sm font-medium 
                  after:content-[''] after:w-0 after:h-px after:bg-[#c3a76c] after:absolute after:left-1/2 after:bottom-[-5px] after:transform after:-translate-x-1/2 after:transition-all after:duration-300 hover:after:w-[91px]"
                >
                  MORE
                </a>
              </div>
            </li>
          );
        })
      }
    </ul>
  </div>
</div>

<style></style>
